{
    "listeners": {
        "*:8000": {
            "pass": "applications/test_app"
        }
    },
    "applications": {
        "test_app": {
            "type": "python",
            "processes": 5,
            "module": "test_app.wsgi",
            "path": "/home/app/test_app",
            "home": "/home/app/my_app_venv/"
        }
    }
}
